<%- layout('layouts/boilerplate') %>
<title>Customer Support Feedback</title>
</head>

<body>
  <div class="row vw-100">
    <div class="d-flex justify-content-center mt-3">
      <h2><%= err.status%></h2>
    </div>
    <div class="d-flex justify-content-center">
        <p><%= err.message%></p>
      </div>
      <div class="d-flex justify-content-center">
        <p>Thank You for your patience.</p>
      </div>
      <div class="d-flex justify-content-center">
        <p> <a href="/">Click if you wish to go back back</a></p>
      </div>


  </div>
</body>
