<%- layout('layouts/boilerplate') %>
<title>Customer Support Feedback</title>
</head>
<body>
  <div class="row vw-100">
    
    <div class="d-flex justify-content-center mt-3">
      <div class="mx-3">
        <h2>Thank you Mr./Ms. <%= cs.name %></h2>
        <p>
          We have got your message (<%= cs.issue %> ) and will get back to you
          soon with a solution.
        </p>
        <p>Thank You for your patience.</p>
      </div>
    </div>
  </div>
</body>
